
window {
  margin: 0px;
  border: 5px solid;
  border-color: @bg_crust;
  border-radius: 15px;
  background-color: @bg_base;
}

#input {
  padding: 4px;
  margin: 4px;
  padding-left: 20px;
  border: 0px solid @bg_surface0;
  color: @text_primary;
  font-weight: bold;
  background-color: @bg_base;
  outline: none;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 2px;
}

#input:focus {
  border: 0px solid @bg_surface0;
  margin-bottom: 0px;
}

#inner-box {
  margin: 4px;
  border: 10px solid @bg_base;
  color: @text_primary;
  font-weight: bold;
  background-color: @bg_base;
  border-radius: 15px;
}

#outer-box {
  margin: 0px;
  border: none;
  border-radius: 15px;
  background-color: @bg_base;
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 15px;
  margin-bottom: 5px;
  /* background: rgb(255,255,255); */
}

#img {
  padding-left: 3px;
}
#img:selected {
  background-color: @bg_surface0;
  border-radius: 15px;
}

#text {
  margin: 12px;
}

#text:selected {
  color: @text_primary;
  border: none;
  border-radius: 15px;
  background-color: @bg_surface0;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 15px;
  background-color: @bg_surface0;
}
