[user]
	name = TriTacLe
	email = tritac.le@gmail.com

[init]
  defaultBranch = master
 # defaultBranch = main
    
[pull]
  rebase

[core]
  autocrlf = input
  editor = vim
  pager = less -FRX
	hooksPath = /home/tri/.git-hooks

[format]
    pretty="%C(magenta)%h %C(white) %an %ar%C(auto) %D%n%s%n"

[color]
  ui = auto

[push]
  autoSetupRemote = true
  default = simple

[pull]
  rebase = false

[rebase]
  autoStash = true
  missingCommitsCheck = warn

[branch]
  sort = -committerdate

[tag]
  sort = -taggerdate

[alias]
    st = status #-sb # --short
    aa = "add -A"
    sw = "switch"
    co = checkout
    br = branch
    cm = "commit -m"
    ca = commit --amend --no-edit
    last = log -1 --stat
    lg = log --oneline --decorate --graph --all
#    unstage = restore --staged
#    discard = restore --

[http]
	version = HTTP/1.1

# Load NTNU email override in NTNU project dirs.
# Adjust gitdir path to match where NTNU projects actually live.
# [includeIf "gitdir:~/Desktop/ntnu/"]
#   path = ~/.config/git/ntnu.gitconfig

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://git.ntnu.no"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
